<div id="wrapper">
  <div class="row m-t-30">
    <div class="col-md-6 col-md-offset-3">
      <app-alertas></app-alertas>
      <div class="panel panel-default margin-b-30">
        <!-- Start .panel -->
        <div class="panel-heading">
          <h4 class="panel-title"> Detalles Receptor</h4>
        </div>
        <div class="panel-body">
          <div class="form-group m-t-15">
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> ID</label>
              <div class="m-l-25">{{item.id}}</div>
            </div>
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> Nombre</label>
              <div class="m-l-25">{{item.nombre}}</div>
            </div>
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> Descripción</label>
              <div class="m-l-25">{{item.descripcion}}</div>
            </div>
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> Canal de Transmisión</label>
              <div class="m-l-25">{{item.canal_transmision_id | foreignitem:_lista_canales}}</div>
            </div>
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> Formato</label>
              <div class="m-l-25">{{item.formato_id | foreignitem:_lista_formatos}}</div>
            </div>
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> Plantilla Recepción</label>
              <div class="m-l-25">{{item.plantilla_recepcion_id | foreignitem:_lista_plantillas}}</div>
            </div>
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> Periodicidad</label>
              <div class="m-l-25">{{item.periodicidad_id | foreignitem:_lista_periodicidades}}</div>
            </div>
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> Notificación Diaria</label>
              <div class="m-l-25">
                <span class="glyphicon glyphicon-remove-sign" *ngIf="!item.notificacion_diaria" style="color: red;" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-ok-sign green" *ngIf="item.notificacion_diaria" style="color: lightgreen;" aria-hidden="true"></span>
              </div>
            </div>
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> Habilitado</label>
              <div class="m-l-25">
                <span class="glyphicon glyphicon-remove-sign" *ngIf="!item.habilitado" style="color: red;" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-ok-sign green" *ngIf="item.habilitado" style="color: lightgreen;" aria-hidden="true"></span>
              </div>
            </div>
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> Propiedades</label>
              <div class="m-l-25">{{item.propiedades}}</div>
            </div>
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> Jerarquía Permisos <a (click)="onAgregarMascara()" class="btn btn-default" aria-label="Left Align" title="Agregar Jerarquía Permiso">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              </a></label>
              <div class="m-l-25">
                <div class="table-responsive">
                  <table id="table-paginated" class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Ministerio</th>
                        <th>Subsecretaría</th>
                        <th>Institución</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let mascara of item_mascaras">
                        <td>{{ mascara.id }}</td>
                        <td>{{ mascara.ministerio_id | foreignitem:_lista_ministerios }}</td>
                        <td>{{ mascara.subsecretaria_id | foreignitem:_lista_subsecretarias }}</td>
                        <td>{{ mascara.institucion_id | foreignitem:_lista_instituciones }}</td>
                        <td class="text-center">
                          <a (click)="onEditarMascara(mascara.id)" class="btn btn-default" aria-label="Left Align" title="Editar">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                          </a>
                          <a (click)="onEliminarMascara(modalEliminarMascara, mascara.id)" class="btn btn-default" aria-label="Left Align" title="Eliminar">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group m-t-30 m-b-0">
            <div class="col-md-8">
              <a [routerLink]="['/receptores', item.id, 'editar']" role="button" class="btn btn-success btn-lg"><i class="fa fa-floppy-o fa-fw"></i> Editar</a>
              <button (click)="onEliminar(modalEliminar)" type="button" class="btn btn-danger btn-lg" [disabled]="item.id === 0"><i class="fa fa-trash fa-fw"></i> Eliminar</button>
            </div>
            <div class="col-md-4 a-right">
              <a routerLink="/receptores" role="button" class="btn btn-primary btn-lg"><i class="fa fa-times fa-fw"></i> Cancelar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalEliminar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Eliminar Receptor</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Usted está a punto de eliminar el receptor "{{item.nombre}}", ¿Está seguro que desea continuar?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancelar</button>
    <button type="button" class="btn btn-default" (click)="_onEliminar()">Eliminar</button>
  </div>
</ng-template>

<ng-template #modalEliminarMascara>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Eliminar Máscara de Jerarquía</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Usted está a punto de eliminar la máscara de jerarquía, ¿Está seguro que desea continuar?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancelar</button>
    <button type="button" class="btn btn-default" (click)="_onEliminarMascar()">Eliminar</button>
  </div>
</ng-template>
