<div id="wrapper" style="margin-left: 0px;">
  <div class="content-wrapper container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3 text-justify">
        <div class="page-title">
          <h1>Bienvenid@</h1>
        </div>
        <p>La Plataforma de Registro de Interacciones entre la ciudadanía y el Estado, pone a disposición este sistema para que las instituciones puedan gestionar los contratos establecidos con el Ministerio Secretaría General de la Presidencia e informar la información comprometida.</p>
        <h2>Clave Única</h2>
        <p>Este sistema funciona con Clave Única, que es una contraseña única para acceder a todos los servicios del Estado, de manera fácil y segura ya que es como tu carnét de identidad digital. Más información en <a href="https://claveunica.gob.cl" target="_blank" title="Clave Única">https://claveunica.gob.cl</a></p>
        <p class="text-center">Para ingresar a la aplicación debes autenticarte con Clave Única:<br />
          <a href="/autenticar" class="btn"><img src="assets/images/claveunica-large.png" title="Clave Única" border="0"></a>
        </p>
        <h2 class="p-t-50">Plataforma de Interacciones</h2>
        <p><b>Contrato de Uso</b><br/>
          Cada una de las instituciones que hagan uso de la solución asociada a la Plataforma de Interacciones, deben generar un acuerdo de uso con el Ministerio Secretaría General de la Presidencia, en donde se generarán los acuerdos asociados a las siguientes definiciones:</p>
          <ul>
            <li>Canal de Transferencia</li>
            <li>MetaData</li>
            <li>Periodicidad</li>
            <li>Formatos</li>
          </ul>
        <p>Acuerdo que deberá especificar las credenciales y usuarios que harán uso de estas.</p>

        <p><b>Bitácora de Interacciones</b><br/>
          La plataforma permite a los usuarios que posean privilegios asociados a los roles de Delegado y/o Subrogante, generar una búsqueda de las interacciones realizadas y que han sido rechazadas o en trámite.
        </p>

        <p><b>Recopilación de Datos</b><br/>
          La solución implementada permite recopilar la información de las distintas instituciones a través de los distintos canales definidos, considerando tanto las formas presenciales como no presenciales.
        </p>

        <p><b>Canales de Transferencia</b><br/>
          La Plataforma de Interacción, posee distintos canales de transferencia para el manejo de información, cada uno de estos canales posee un alto nivel de seguridad, los canales contemplados son los siguientes:
        </p>
          <ul>
            <li>SFTP</li>
            <li>FTP</li>
            <li>Formulario Web</li>
            <li>WebService</li>
          </ul>

        <p><b>Notificación Validación Recepción</b><br/>
          La plataforma genera notificaciones vía correo electrónico, en caso que algún proceso resulte fallido.
        </p>

        <p class="text-center m-t-40"><img src="assets/images/logo-segpres.jpg" alt="Ministerio Secretaría General de la Presidencia" title="Ministerio Secretaría General de la Presidencia" style="width: 10em;" /></p>
      </div>
    </div><!-- end .page title-->
  </div>
</div>
