<div id="wrapper">
  <div class="row m-t-30">
    <div class="col-md-6 col-md-offset-3">
      <app-alertas></app-alertas>
      <div class="panel panel-default margin-b-30">
        <!-- Start .panel -->
        <div class="panel-heading">
          <h4 class="panel-title">
            <ng-container *ngIf="!item.id">Agregar Nuevo </ng-container>
            <ng-container *ngIf="item.id">Editar </ng-container>
            Receptor</h4>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group m-t-15">
              <div class="col-md-12">
                <label for="nombre">Nombre</label>
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-bars fa-fw"></i></span>
                  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa Nombre" [(ngModel)]="item.nombre" aria-describedby="sizing-addon1" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ0-9 ]*" noSpaces>
                </div>
              </div>
            </div>
            <div class="form-group p-t-15 p-r-15 p-l-15">
              <div class="row m-b-10">
                <div class="col-md-12">
                  <label for="canal_transmision_id">Canal de Transmisión</label>
                  <select class="form-control" id="canal_transmision_id" name="canal_transmision_id" [(ngModel)]="item.canal_transmision_id" required>
                    <option [value]="undefined" disabled>Selecciona Canal de Transmisión</option>
                    <option *ngFor="let item of _lista_canales" [value]="item.id">{{ item.nombre }}</option>
                  </select>
                </div>
              </div>
              <div class="row m-b-10">
                <div class="col-md-12">
                  <label for="formato_id">Formato</label>
                  <select class="form-control" id="formato_id" name="formato_id" [(ngModel)]="item.formato_id" required>
                    <option value="">Selecciona Formato</option>
                    <option *ngFor="let item of _lista_formatos" [value]="item.id">{{ item.nombre }}</option>
                  </select>
                </div>
              </div>
              <div class="row m-b-10">
                <div class="col-md-12">
                  <label for="plantilla_recepcion_id">Plantilla Recepción</label>
                  <select class="form-control" id="plantilla_recepcion_id" name="plantilla_recepcion_id" [(ngModel)]="item.plantilla_recepcion_id" required>
                    <option [value]="undefined" disabled>Selecciona Plantilla Recepción</option>
                    <option *ngFor="let item of _lista_plantillas" [value]="item.id">{{ item.nombre }}</option>
                  </select>
                </div>
              </div>
              <div class="row m-b-10">
                <div class="col-md-12">
                  <label for="periodicidad_id">Periodicidad</label>
                  <select class="form-control" id="periodicidad_id" name="periodicidad_id" [(ngModel)]="item.periodicidad_id" required>
                    <option [value]="undefined" disabled>Periodicidad</option>
                    <option *ngFor="let item of _lista_periodicidades" [value]="item.id">{{ item.nombre }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group m-b-30">
              <div class="col-sm-12">
                <div><label>Notificación Diaria</label></div>
                <div class="btn-group">
                  <label class="btn btn-primary" name="notificacion_diaria0" [(ngModel)]="item.notificacion_diaria" [btnRadio]="false">No</label>
                  <label class="btn btn-primary" name="notificacion_diaria1" [(ngModel)]="item.notificacion_diaria" [btnRadio]="true">Si</label>
                </div>
              </div>
            </div>
            <div class="form-group m-b-30">
              <div class="col-sm-12">
                <div><label>Habilitado</label></div>
                <div class="btn-group">
                  <label class="btn btn-primary" name="habilitado0" [(ngModel)]="item.habilitado" [btnRadio]="false">No</label>
                  <label class="btn btn-primary" name="habilitado1" [(ngModel)]="item.habilitado" [btnRadio]="true">Si</label>
                </div>
              </div>
            </div>
            <div class="form-group p-t-15 p-r-15 p-l-15">
              <div class="col-md-12">
                <div class="input-group input-group-lg width-100">
                  <div><label for="descripcion">Propiedades</label></div>
                  <textarea class="from-control width-100" name="propiedades" id="propiedades" [(ngModel)]="item.propiedades"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group p-t-15 p-r-15 p-l-15">
              <div class="col-md-12">
                <div class="input-group input-group-lg width-100">
                  <div><label for="descripcion">Descripción</label></div>
                  <textarea class="from-control width-100" name="descripcion" id="descripcion" [(ngModel)]="item.descripcion"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group p-t-15 p-r-15 p-l-15">
              <label><i class="fa fa-bars fa-fw"></i> Jerarquía Permisos <a (click)="onAgregarMascara()" class="btn btn-default" aria-label="Left Align" title="Agregar Jerarquía Permiso">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              </a></label>
              <div class="m-l-25">
                <div class="table-responsive">
                  <table id="table-paginated" class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Ministerio</th>
                      <th>Subsecretaría</th>
                      <th>Institución</th>
                      <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let mascara of item_mascaras">
                      <td>{{ mascara.id }}</td>
                      <td>{{ mascara.ministerio_id | foreignitem:_lista_ministerios }}</td>
                      <td>{{ mascara.subsecretaria_id | foreignitem:_lista_subsecretarias }}</td>
                      <td>{{ mascara.institucion_id | foreignitem:_lista_instituciones }}</td>
                      <td class="text-center">
                        <a (click)="onEditarMascara(mascara.id)" class="btn btn-default" aria-label="Left Align" title="Editar">
                          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        <a (click)="onEliminarMascara(modalEliminarMascara, mascara.id)" class="btn btn-default" aria-label="Left Align" title="Eliminar">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="form-group m-t-30 m-b-0">
              <div class="col-md-12 align-right">
                <button type="submit" class="btn btn-success btn-lg" [disabled]="!f.valid"><i class="fa fa-floppy-o fa-fw"></i> Guardar</button>
                <a routerLink="/receptores" role="button" class="btn btn-danger btn-lg"><i class="fa fa-times fa-fw"></i> Cancelar</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalEliminar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Eliminar Receptor</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Usted está a punto de eliminar el receptor "{{item.nombre}}", ¿Está seguro que desea continuar?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancelar</button>
    <button type="button" class="btn btn-default" (click)="_onEliminar()">Eliminar</button>
  </div>
</ng-template>

<ng-template #modalEliminarMascara>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Eliminar Máscara de Jerarquía</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Usted está a punto de eliminar la máscara de jerarquía, ¿Está seguro que desea continuar?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancelar</button>
    <button type="button" class="btn btn-default" (click)="_onEliminarMascara()">Eliminar</button>
  </div>
</ng-template>
