<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <!-- See http://logback.qos.ch/manual/layouts.html -->
        <!-- See http://doc.akka.io/docs/akka/2.0/scala/logging.html -->
        <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>receptor.log</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="cl.exe" level="debug" additivity="false">
    <appender-ref ref="console" />
    <appender-ref ref="FILE" />
  </logger>

  <logger name="akka" level="info" additivity="false">
    <appender-ref ref="console" />
    <appender-ref ref="FILE" />
  </logger>



  <root level="warn">
    <appender-ref ref="console" />
    <appender-ref ref="FILE" />
  </root>

</configuration>

