<div id="wrapper">
  <div class="row m-t-30">
    <div class="col-md-6 col-md-offset-3">
      <app-alertas></app-alertas>
      <div class="panel panel-default margin-b-30">
        <!-- Start .panel -->
        <div class="panel-heading">
          <h4 class="panel-title"> Detalles Servicio</h4>
        </div>
        <div class="panel-body">
          <div class="form-group m-t-15">
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> ID</label>
              <div class="m-l-25">{{item.id}}</div>
            </div>
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> Nombre</label>
              <div class="m-l-25">{{item.nombre}}</div>
            </div>
            <!--<div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> Ministerio</label>
              <div class="m-l-25">{{ministerio | foreignitem:ministerios}}</div>
            </div>
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> Subsecretaría</label>
              <div class="m-l-25">{{item}}</div>
            </div>-->
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> Institución</label>
              <div class="m-l-25">{{item.institucion_id | foreignitem:_lista_instituciones}}</div>
            </div>
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> URL</label>
              <div class="m-l-25">{{item.url}}</div>
            </div>
            <div class="form-group">
              <label><i class="fa fa-bars fa-fw"></i> Habilitado</label>
              <div class="m-l-25">
                <span class="glyphicon glyphicon-remove-sign" *ngIf="!item.habilitado" style="color: red;" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-ok-sign green" *ngIf="item.habilitado" style="color: lightgreen;" aria-hidden="true"></span>
              </div>
            </div>
          </div>
          <div class="form-group m-t-30 m-b-0">
            <div class="col-md-8">
              <a [routerLink]="['/servicios', item.id, 'editar']" role="button" class="btn btn-success btn-lg"><i class="fa fa-floppy-o fa-fw"></i> Editar</a>
              <button (click)="onEliminar(modalEliminar)" type="button" class="btn btn-danger btn-lg" [disabled]="item.id === 0"><i class="fa fa-trash fa-fw"></i> Eliminar</button>
            </div>
            <div class="col-md-4 a-right">
              <a routerLink="/servicios" role="button" class="btn btn-primary btn-lg"><i class="fa fa-times fa-fw"></i> Cancelar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalEliminar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Eliminar Servicio</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Usted está a punto de eliminar el servicio "{{item.nombre}}", ¿Está seguro que desea continuar?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancelar</button>
    <button type="button" class="btn btn-default" (click)="_onEliminar()">Eliminar</button>
  </div>
</ng-template>