<div id="wrapper">
  <div class="content-wrapper container">
    <div class="row">
      <div class="col-md-8">
        <div class="page-title">
          <h1>Listado de Factores Históricos <small>({{ _parent.nombre }})</small></h1>
        </div>
      </div>
      <div class="col-md-4 a-right">
        <a [routerLink]="['/tramites']" role="button" class="btn btn-success btn-lg"><i class="fa fa-times"></i> Volver</a>
      </div>
    </div><!-- end .page title-->
    <app-alertas></app-alertas>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default ">
          <!-- Start .panel -->
          <div class="panel-heading">
            <form name="frm" #frm="ngForm" (ngSubmit)="onFiltroSubmit(frm)">
              <div class="row">
                <div class="col-md-4 a-right">
                  <label class="control-label">Filtro Fecha Inicio</label>
                  <div class="text-right">
                    <input type="text" name="ffi" [(ngModel)]="_buscador_ffi" id="ffi" class="form-control" [maxDate]="maxDate" #ffi="bsDatepicker" bsDatepicker [bsConfig]="bsConfig">
                  </div>
                </div>
                <div class="col-md-4 a-right">
                  <label class="control-label">Filtro Fecha Término</label>
                  <div class="text-right">
                    <input type="text" name="fft" [(ngModel)]="_buscador_fft" id="fft" class="form-control" [maxDate]="maxDate" #fft="bsDatepicker" bsDatepicker [bsConfig]="bsConfig">
                  </div>
                </div>
                <div class="col-md-4 a-right">
                  <label class="control-label">Filtro por Tipo de Interacción</label>
                  <select class="form-control m-b" name="tipo_interaccion_id" [(ngModel)]="_buscador.filtro.tipo_interaccion_id">
                    <option value="">Todos</option>
                    <option *ngFor="let item of _lista_tipo_interacciones" [value]="item.id">{{item.nombre}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 a-right">
                  <button type="submit" class="btn btn-primary" [disabled]="!frm.valid">Buscar</button>
                </div>
              </div>
            </form>
          </div>
          <div class="panel-body">
            <div *ngIf="_items.length === 0">
              <alert [type]="'warning'" [dismissible]="false">La búsqueda no arrojó resultados</alert>
            </div>
            <div *ngIf="_items.length > 0">
              <div class="table-responsive">
                <table id="table-paginated" class="table table-bordered" cellspacing="0" width="100%">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tipo Interacción</th>
                    <th>Factor</th>
                    <th>Fecha Creación</th>
                  </tr>
                  </thead>
                  <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Tipo Interacción</th>
                    <th>Factor</th>
                    <th>Fecha Creación</th>
                  </tr>
                  </tfoot>
                  <tbody>
                  <tr *ngFor="let item of _items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.tipo_interaccion_id | foreignitem:_lista_tipo_interacciones }}</td>
                    <td>{{ item.factor }}</td>
                    <td>{{ item.fecha_creacion }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <app-paginador [_buscador]="_buscador" (paginadorCambia)="onPaginadorCambia($event)"></app-paginador>
            </div>
          </div>
        </div><!-- End .panel -->
      </div><!--end .col-->
    </div><!--end .row-->
  </div>
</div>
