<div id="wrapper">
  <div class="row m-t-30">
    <div class="col-md-6 col-md-offset-3">
      <app-alertas></app-alertas>
      <div class="panel panel-default margin-b-30">
        <!-- Start .panel -->
        <div class="panel-heading">
          <h4 class="panel-title">
            <ng-container *ngIf="!item.id">Agregar Nuevo </ng-container>
            <ng-container *ngIf="item.id">Editar </ng-container>
            Servicio</h4>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group p-t-15 p-r-15 p-l-15">
              <div class="row m-b-10">
                <div class="col-md-12">
                  <label for="ministerio_id">Ministerio</label>
                  <select class="form-control" id="ministerio_id" name="ministerio_id" #ministerio_id="ngModel" [(ngModel)]="_lista_ministerio" required>
                    <option [value]="undefined" disabled>Ministerio</option>
                    <!--<option [value]="">Todos</option>-->
                    <option *ngFor="let item of _lista_ministerios" [value]="item.id">{{ item.nombre }}</option>
                  </select>
                  <p class="help-block" *ngIf="ministerio_id.touched && !ministerio_id.valid">Ministerio es requerido, por favor seleccione un ministerio válido</p>
                </div>
              </div>
              <div class="row m-b-10">
                <div class="col-md-12">
                  <label for="subsecretaria_id">Subsecretaría</label>
                  <select class="form-control" id="subsecretaria_id" name="subsecretaria_id" #subsecretaria_id="ngModel" [(ngModel)]="_lista_subsecretaria" required>
                    <option [value]="undefined" disabled>Subsecretaría</option>
                    <!--<option [value]="">Todas</option>-->
                    <option *ngFor="let item of _lista_subsecretarias | fromlista:'ministerio_id':_lista_ministerio" [value]="item.id">{{ item.nombre }}</option>
                  </select>
                  <p class="help-block" *ngIf="subsecretaria_id.touched && !subsecretaria_id.valid">Subsecretaría es requerido, por favor seleccione una subsecretaría válida</p>
                </div>
              </div>
              <div class="row m-b-10">
                <div class="col-md-12">
                  <label for="institucion_id">Instituto</label>
                  <select class="form-control" id="institucion_id" name="institucion_id" #institucion_id="ngModel" [(ngModel)]="item.institucion_id" required>
                    <option [value]="undefined">Institución</option>
                    <!--<option [value]="">Todas</option>-->
                    <option *ngFor="let item of _lista_instituciones | fromlista:'subsecretaria_id':_lista_subsecretaria" [value]="item.id">{{ item.nombre }}</option>
                  </select>
                  <p class="help-block" *ngIf="institucion_id.touched && !institucion_id.valid">Institución es requerido, por favor seleccione una institución válida</p>
                </div>
              </div>
            </div>

            <div class="form-group m-t-15">
              <div class="col-md-12">
                <label for="nombre">Nombre</label>
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-bars fa-fw"></i></span>
                  <input type="text" class="form-control" id="nombre" name="nombre" #nombre="ngModel" placeholder="Ingresa Nombre" [(ngModel)]="item.nombre" aria-describedby="sizing-addon1" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ0-9 ]*" noSpaces>
                </div>
                <p class="help-block" *ngIf="nombre.touched && !nombre.valid">Nombre es requerido, por favor seleccione un nombre válido</p>
              </div>
            </div>
            <div class="form-group m-t-15">
              <div class="col-md-12">
                <label for="url">URL</label>
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-bars fa-fw"></i></span>
                  <input type="text" class="form-control" id="url" name="url" #url="ngModel" placeholder="Ingresa URL" [(ngModel)]="item.url" aria-describedby="sizing-addon1" pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$">
                </div>
                <p class="help-block" *ngIf="url.touched && !url.valid">Por favor ingrese una URL válida</p>
              </div>
            </div>
            <div class="form-group m-b-30">
              <div class="col-sm-12">
                <div><label>Habilitado</label></div>
                <div class="btn-group">
                  <label class="btn btn-primary" name="habilitado0" [(ngModel)]="item.habilitado" [btnRadio]="false">No</label>
                  <label class="btn btn-primary" name="habilitado1" [(ngModel)]="item.habilitado" [btnRadio]="true">Si</label>
                </div>
              </div>
            </div>
            <div class="form-group m-t-30 m-b-0">
              <div class="col-md-6">
                <button type="submit" class="btn btn-success btn-lg" [disabled]="!f.valid"><i class="fa fa-floppy-o fa-fw"></i> Guardar</button>
              </div>
              <div class="col-md-6 a-right">
                <a routerLink="/servicios" role="button" class="btn btn-danger btn-lg"><i class="fa fa-times fa-fw"></i> Cancelar</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>