<div class="row">
  <div class="col-md-4 left text-left m-t-20"><span>Mostrando {{ _buscador.paginador.porpagina }} de {{ _buscador.paginador.total }} Entradas</span></div>
  <div class="col-md-4 center text-center">
    <ngb-pagination [collectionSize]="_buscador.paginador.total" [pageSize]="_buscador.paginador.porpagina" [(page)]="_buscador.paginador.pagina" (pageChange)="onPaginacionPaginaCambia($event)"></ngb-pagination>
  </div>
  <div class="col-md-4 right text-right m-t-20">
    Por página mostrar
    <span><select class="input-sm" [(ngModel)]="_buscador.paginador.porpagina" (change)="onPorPaginaCambia()">
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select></span>
  </div>
</div>
